*# This section loads, cleans, and merges the Customer, Checking, and Credit Card datasets to create a unified banking transactions dataset for analysis and visualization in Power BI.*

In [ ]:
pip install pandas numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

# Loading all CSVs
customer_df = pd.read_csv("/content/Customer_Info.csv")
checking_df = pd.read_csv("/content/Checking_Account.csv")
credit_df = pd.read_csv("/content/Credit_Card.csv")

In [ ]:
# Converting the date columns to datetime format
checking_df['Transaction_Date'] = pd.to_datetime(checking_df['Transaction_Date'])
credit_df['Transaction_Date'] = pd.to_datetime(credit_df['Transaction_Date'])
customer_df['Join_Date'] = pd.to_datetime(customer_df['Join_Date'])

# Dropping any duplicates just in case
customer_df.drop_duplicates(subset='Customer_ID', inplace=True)
checking_df.drop_duplicates(subset='Transaction_ID', inplace=True)
credit_df.drop_duplicates(subset='Card_Id', inplace=True)

In [ ]:
checking_df['Source'] = 'Checking'
credit_df['Source'] = 'Credit Card'

In [ ]:
checking_df.rename(columns={
    'Transaction_ID': 'Transaction_ID',
    'Transaction_Date': 'Date',
    'Amount': 'Amount',
    'Transaction_Type': 'Category',
    'Branch_City': 'City'
}, inplace=True)

credit_df.rename(columns={
    'Card_ID': 'Transaction_ID',
    'Transaction_Date': 'Date',
    'Amount': 'Amount',
    'Category': 'Category',
    'City': 'City'
}, inplace=True)

In [ ]:
# Combine both datasets
transactions_df = pd.concat([checking_df, credit_df], ignore_index=True)

In [ ]:
unified_df = transactions_df.merge(customer_df, on='Customer_ID', how='left')

In [ ]:
unified_df.to_csv("Unified_Transactions.csv", index=False)
print("✅ Unified dataset created successfully!")

✅ Unified dataset created successfully!

In [ ]:
print(unified_df.head())
print(unified_df.info())

   Transaction_ID  Customer_ID       Date    Category  Amount  \
0             1.0            1 2022-03-15  Withdrawal    4057
1             2.0            2 2024-09-06    Transfer    3145
2             3.0            3 2023-02-08    Transfer    3823
3             4.0            4 2023-04-23    Transfer    1912
4             5.0            5 2023-02-04     Deposit     633

   Account_Balance      City_x Channel    Source  Card_Id Merchant First_Name  \
0              NaN      Berovo  Online  Checking      NaN      NaN   Phyllida
1              NaN  Södertälje  Branch  Checking      NaN      NaN     Chrisy
2              NaN     Shilibu     ATM  Checking      NaN      NaN     Elvera
3              NaN     Xiadong  Branch  Checking      NaN      NaN     Layton
4              NaN  Bayan Hure  Branch  Checking      NaN      NaN    Filippa

  Last_Name                         Email  Gender        City_y  Join_Date  \
0    Gowing  pgowing0@theglobeandmail.com  Female  Cihurip Satu 2017-01-08
1    Hulles            chulles1@phpbb.com    Male       Stylída 2021-03-01
2  Swannack            eswannack2@cnn.com  Female        Mianhu 2021-10-03
3  O'Mailey           lomailey3@google.nl    Male       Krivaja 2019-11-02
4    Godson              fgodson4@mail.ru  Female        Kaiama 2024-01-11

   Age  Income Account_Type
0   38   45399     Checking
1   67  148990         Both
2   47   59490         Both
3   39  133955      Savings
4   28  119523         Both
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction_ID   1000 non-null   float64
 1   Customer_ID      2000 non-null   int64
 2   Date             2000 non-null   datetime64[ns]
 3   Category         2000 non-null   object
 4   Amount           2000 non-null   int64
 5   Account_Balance  0 non-null      float64
 6   City_x           2000 non-null   object
 7   Channel          1000 non-null   object
 8   Source           2000 non-null   object
 9   Card_Id          1000 non-null   float64
 10  Merchant         1000 non-null   object
 11  First_Name       2000 non-null   object
 12  Last_Name        2000 non-null   object
 13  Email            2000 non-null   object
 14  Gender           2000 non-null   object
 15  City_y           2000 non-null   object
 16  Join_Date        2000 non-null   datetime64[ns]
 17  Age              2000 non-null   int64
 18  Income           2000 non-null   int64
 19  Account_Type     2000 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(4), object(11)
memory usage: 312.6+ KB
None